/node_modules/*
/dist/*
/references/*
/data/references/*
/venv/
.git/
.cache/
.idea/
.vscode/
__pycache__/
**/*/__pycache__/
**/Thumbs.db
*.py[cod]
*$py.class
instance/
.webassets-cache
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
var/
share/
.installed.cfg
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Проекты/Справка ИС/
